code.inline {
  display: inline;
  background-color: #eaeaea;
}

.intro-slide table,
.intro-slide tr,
.intro-slide th,
.intro-slide td  {
  border: none;
}

.dark-slide {
  color: white;
}
.dark-slide p {
  font-size: 40pt;
}
.dark-slide small {
  font-size: 20pt;
}

img[src*="#float-right"] {
  float: right;
}