code.inline {
  display: inline;
  background-color: #eaeaea;
}

div.intro-slide {
  background-color: white;
}
div.intro-slide img {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.intro-slide table,
.intro-slide tr,
.intro-slide th,
.intro-slide td  {
  border: none;
}

.dark-slide {
  color: white;
}
.dark-slide p {
  font-size: 40pt;
}
.dark-slide small {
  font-size: 20pt;
}

img[src*="#float-right"] {
  float: right;
}